body {
background-color: #CCCCC3;
margin: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.columnsContainer { position: relative; margin: .5em; }
.columnsContainer2 { 
position: relative; 
border-bottom: 10px solid #6AC362;
background-color: #41AB3A;
}

.leftColumn {  
padding: 1.25em;
margin-bottom: .5em; 
background-color: white;
border: 1px solid #787878;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.rightColumn { 
/*
border: 1px solid #787878;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1.25em; 
*/
}

.rightColumn2 { 
padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
padding-bottom: 5px;
min-height: 50px;
text-align: right; 
}

.leftColumn2 {  
min-height: 50px;
padding-left: 25px;
padding-right: 25px;
padding-top: 5px;
padding-bottom: 5px;
}

@media screen and (min-width: 47.5em ) {
  .leftColumn2 { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 15.75em; 
	}
  .rightColumn2 { 
	margin-left: 15.75em; 
	}
  .leftColumn { 
	margin-right: 19.5em; 
	}
  .rightColumn { 
	position: absolute; 
	top: 0; 
	right: 0; 
	width: 18.75em; 
	}
}

/*
h1.h1-navigation {
display: inline;
font-size: 1.2em;
font-weight: bold;
}
*/
.navigation-login {
font-size: 0.9em;
font-weight: bold;
text-decoration: none;
margin-right: 10px;
color: white;
font-family: sans serif;
}
.navigation {
font-size: 1.1em;
font-weight: bold;
text-decoration: none;
margin-right: 10px;
color: white;
font-family: sans serif;
}
.white-box {
background-color: white;
min-height: 200px;
margin-bottom: 5px;
border: 1px solid #787878;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 8px;
}

.clear {
clear: both;
}

/* Profile style */
.profile-container {
float: left;
display: block;
}

.profile-pic {
height: 158px;
text-align: left;
padding: 6px;
float: left;
}
.small-pic {
height: 70px;
text-align: left;
padding: 6px;
float: left;
}

.profile-basic {
font-size: 0.88em;
padding: 6px;
padding-left: 6px;
float: left;
}
.profile-basic-h1 {
font-size: 2.1em;
font-weight: bold;
margin-top: 10px;
margin-bottom: 20px;
}
.profile-question-head {
border: 1px solid black;
padding: 5px 5px 5px 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.profile-question-h3 {
margin: 0;
}
.small-note {
font-size: 0.8em;
font-style: italic;
margin: 1px;
color: grey;
padding-left: 5px;
}
.profile-question-body {
padding: 5px 5px 2px 5px;
}

th, td {
padding: 5px 1px 5px 5px;
}
tr:hover {
}
.table-events {
border: 1px solid navy;
empty-cells: show;
}
td {
border: 1px solid blue;
text-align: center;
min-width: 7em;
font-size: 0.66em;
}

.ok {
color: green;
}
.ko {
color: red;
}
